<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.guj.ems.mobile.sdk"
    android:versionCode="9"
    android:versionName="1.3.1" >

    <uses-sdk android:minSdkVersion="8"/>
    
    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application>
        <!-- SDK specific declarations -->
        <activity
            android:name="de.guj.ems.mobile.sdk.activities.InterstitialActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name="de.guj.ems.mobile.sdk.activities.VideoInterstitialActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name="de.guj.ems.mobile.sdk.activities.InterstitialSwitchActivity" />
        <activity
            android:name="org.ormma.view.Browser"
            android:noHistory="true" />
        <activity android:name="org.ormma.view.OrmmaActionHandler" />

        <receiver android:name="de.guj.ems.mobile.sdk.controllers.InterstitialSwitchReceiver" >
            <action android:name="de.guj.android.gala.broadcasts.interstitialBroadcast" />
        </receiver>

        <!-- Smartstream SDK -->
        <activity
            android:name="com.video.adsdk.internal.ADActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
		<activity
            android:name="de.guj.ems.mobile.sdk.activities.VideoAdSDKWrapperActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <!-- Google AdMob SDK -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>