<?xml version="1.0" encoding="utf-8"?>

<!-- Android Manifest for G+J EMS Android SDK library v1.4 (Feb 2015) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.guj.ems.mobile.sdk"
    android:versionCode="11"
    android:versionName="1.4" >

    <!-- The G+J EMS Android SDK requires Android 2.2 (FROYO) or later -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21"/>
    
    <!-- *** Required permissions *** -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- *** Recommended permissions *** -->


    <!-- Enables location based targeted ads -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- USE FINE_LOCATION FOR GPS ENABLED APS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- *** Optional permissions for special ads *** -->


    <!-- This enabled vibrating ads -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Enables click-to-calendar ads -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Enables sending text messages from ads (user input only) -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Enables triggering phone calls from ads (user input only) -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Enables saving images and screenshots from ads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Enables camera access from ads -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        
        <!-- Version of referenced Google Play Services -->
    	<meta-data
        	android:name="com.google.android.gms.version"
        	android:value="@integer/google_play_services_version" />
        

        <!-- *** G+J EMS SDK specific declarations *** -->


        <!-- Displaying interstitials -->
        <activity
            android:name=".activities.InterstitialActivity"
            android:configChanges="screenSize|orientation" />

        <!-- Displaying video interstitials -->
        <activity
            android:name=".activities.VideoInterstitialActivity"
            android:theme="@android:style/Theme.DeviceDefault"
            android:configChanges="screenSize|orientation" />

        <!-- In-App browser -->
        <activity
            android:name="org.ormma.view.Browser"
            android:noHistory="true"
            android:theme="@android:style/Theme.DeviceDefault" />
        <activity android:name="org.ormma.view.OrmmaActionHandler" />

        <!-- Receiver to check whether an interstitial can be displayed -->
        <receiver android:name=".controllers.InterstitialSwitchReceiver" >
        </receiver>

        <!-- IntentService which handles asynchronous ad requests -->
        <service
            android:name=".controllers.adserver.AmobeeAdRequest"
            android:enabled="true"
            android:exported="false" />

        <!-- *** Smartstream Video Interstitial SDK (3rd party video interstitials) *** -->
        <activity
            android:name="com.video.adsdk.internal.ADActivity"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" >
        </activity>

        <!-- *** Google Ad SDK (3rd party performance ads) *** -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        
    </application>

</manifest>